<div class="container">
  <div class="row">
    <h1>Product Details</h1>
  </div>
  <div class="row">

    <table class="table table-hover">
      <div>
        <tr>
          <td>Product Id</td>
          <td>{{id}}</td>
        </tr>
        <tr>
          <td>
            Product Name
          </td>
          <td>{{productdetail.name}}</td>
        </tr>
        <tr>
          <td>Manufacturer</td>
          <td>{{productdetail.manufacturer}}</td>
        </tr>
        <tr>
          <td>Price</td>
          <td>{{productdetail.price}}</td>
        </tr>
        <tr>
          <td>Quantity</td>
          <td>{{productdetail.quantity}}</td>
        </tr>
      </div>
    </table>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a routerLink="/productlist">Back to List</a>
    </div>
  </div>
</div>

